module.exports = {
    thumbnail: function(url, size, color) {
        if(!url) { return url; }
        size = size || '400x400';
        if(color){
            color = color.replace('#', 'x');
        }
        color = color || 'xf6f1dd';
        return url + '_' + size + color + url.substring(url.lastIndexOf("."), url.length);
    },
    status2str: function(status, type) {
        if(!status) { return status; }
        var text = ''
        if(type == 'order'){
            switch(status){
                case 1 : text = '待付款'; break;
                case 2 : text = '待发货'; break;
                case 3 : text = '待收货'; break;
                case 4 : text = '已完成'; break;
                case 5 : text = '已失效'; break;
                default: text = '未定义';
            }
        }
        return text
    }
};